*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-main{
    max-height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
   background: #f9f9f9;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.nav-logo{
     max-width: 200px;
    max-height: 55px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.nav-logo img{
    width: 100%;
    height: auto;
    max-height: 55px;
}

.nav-links a{
   margin-right: 1.5rem;
    color: #022445;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.nav-links a:hover{
    color: #046ff2;
}

.nav-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #022445;
}

@media (max-width: 950px) {
    .nav-links {
        display: none;  
        flex-direction: column;
        position: absolute;
        top: 80px;  
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
        text-align: center;
        padding: 20px 0;
        z-index: 999;
    }
    .nav-links a {
        margin: 10px 0;
    }
    .nav-toggle {
        display: block;
    }
}

.nav-links.active { 
    display: flex; 
}

/* nav end */

body{
    background-color: #f9f9f9 !important;
}


 .about-heading{
    text-align: center;
 }

 .about-heading h1{
    font-size: 3rem;
    font-weight: 700;
    color: #022445;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    padding-top: 7%;
 }

 .about-heading h1::before{
    content: "-:";
    margin-right: 8px;
    color: #046ff2;
}

.about-heading h1::after{
    content: ":-";
    margin-left: 8px;
    color: #046ff2;
}

.about-left-heading{
    text-align: center;
}

.about-left-heading h2{
    position: relative;
    display: inline-block;
    color: #022445;
    font-size: 40px;
    margin: 5%;
}

.about-left-heading h2::before{
    content: '';
    position: absolute;
    top: 130%;
    left: 11%;
    width: 10rem;
    border-radius: 30px;
    height: 4px;
    background: #046ff2;
}

.about-right-heading{
    text-align: center;
}

.about-right-heading h2{
    position: relative;
    display: inline-block;
    color: #022445;
    font-size: 40px;
    margin: 5%;
}

.about-right-heading h2::before{
    content: '';
    position: absolute;
    top: 130%;
    left: 14%;
    width: 13rem;
    border-radius: 30px;
    height: 4px;
    background: #046ff2;
}

/* About Section */
        .about-main {
            padding: 0 7%;
            padding-bottom: 0 !important;
            display: flex;
            justify-content: center;
            gap: 4rem;
            padding-bottom: 5%;
        }
        .about-left{
            width: 40%;

            text-align: start;
        }

        .about-left p{
            letter-spacing: 0.3px;
            width: 100%;
        }

        .about-right{
            width: 40%;
            
            border-radius: 20px;

        }

        .about-right img{
            width: 100%;
            height: auto;
            border-radius: 20px;
            object-fit: cover;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

        }

        @media(max-width:1100px){
            .about-main{
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                padding: 0 7%;
            }

            .about-left , .about-right{
                width: 90%;
                margin-top: 10px;
            }
        }

        


        

        /* Services Section */

        .service-heading{
            text-align: center;
        }

        .service-heading h2{
             position: relative;
        display: inline-block;
        color: #022445;
        font-size: 40px;
        margin-top: 5%;
        margin-bottom: 2%;
        }

        .service-heading h2::before{
            content: '';
    position: absolute;
    top: 130%;
    left: 11%;
    width: 11rem;
    border-radius: 30px;
    height: 4px;
    background: #046ff2;
        }

        .services {
            padding: 5%;
            text-align: center;
        }

        .service-cards {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            flex-wrap: wrap;
        }

        .card {
            background: linear-gradient(90deg, #046ff2, #022445);
            padding: 30px;
            border-radius: 20px;
            width: 250px;
           box-shadow: 0 6px 18px rgba(2,36,69,0.4);
            transition: all 0.3s;
        }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 25px rgba(2,36,69,0.6);
        }

        .card img {
            max-width: 100px;
            margin-bottom: 20px;
            margin: auto;
        }

        .card h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
            color: #fff;
        }

        .card p {
            font-size: 1em;
            color: #fff
        }
   
        .vis-mis{
            display: flex;
            justify-content: center;
            gap: 4rem;  
            padding: 0 5%;
        }

        .vision-left{
            padding: 0 7%;
        }

        .vision-left i{
            padding-bottom: 6%;
            color: #022445;
            font-size: 4rem;
        }

        .vision-left p{
            color: #022445;
            font-size: 1.2rem;
        }

        .mission-right i{
             padding-bottom: 6%;
            color: #022445;
            font-size: 4rem;
        }

        .mission-right p{
            color: #022445;
            font-size: 1.2rem;
        }

        .mission-right{
            padding: 0 7%;
        }

         @media (max-width: 900px) {
            .service-cards {
                flex-direction: column;
                align-items: center;
                padding-top: 5%;
            }

            .vis-mis{
                 padding-top: 5%;
            }
        }


        /* footer start */

.footer-top{
    max-height: 400px;
    height: auto;
    background-color: #022445;
    color: #edf6ff;
    display: flex;
    justify-content: space-around;
    padding: 3% 5%;
    align-items: start;
    gap: 4rem;
}

.footer-center ,.footer-left , .footer-right{
    width: 30%;
    text-align: left;
    
}


.footer-logo{
    max-width: 150px;
    max-height: 70px;
    margin-bottom: 1.2rem;
}

.footer-logo img{
    width: 100%;
    height: auto;
    max-height: 70px;
}

.footer-center i{
font-size: 1.1rem;
}

.footer-center p{
    font-size: 1rem;
    margin-top: 20px;
}

.footer-links{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.footer-links .left{
    display: flex;
    flex-direction: column;
}

.footer-links .right{
    display: flex;
    flex-direction: column;
}

.footer-links a{
    text-decoration: none !important;
    margin-top: 0.8rem;
    color: #edf6ff;
}

.footer-bottom{
    min-height: 70px;
    border-top: 2px solid #046ff2;
    background: #022445;
}

.footer-bottom p{
    text-align: center;
    color: #edf6ff;
    margin-top: 1.5rem;
}

@media(max-width:780px){

    .footer-top{
        justify-content: center;
        max-height: 900px; 
        flex-wrap: wrap;
        gap: 2rem;
        padding: 3% 2%;
    }

    .footer-left{
        width: 80%;
        order: 1;
    }

    .footer-center,.footer-right{
        width: 40%;
    }
}