*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-main{
    max-height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
   background:#f9f9f9;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.nav-logo{
    max-width: 200px;
    max-height: 55px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav-logo img{
    width: 100%;
    height: auto;
    max-height: 55px;
}

.nav-links a{
    margin-right: 1.5rem;
    color: #022445;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.nav-links a:hover{
    color: #046ff2;
}

.nav-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #022445;
}

@media (max-width: 950px) {
    .nav-links {
        display: none;  
        flex-direction: column;
        position: absolute;
        top: 80px;  
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
        text-align: center;
        padding: 20px 0;
        z-index: 999;
    }
    .nav-links a {
        margin: 10px 0;
    }
    .nav-toggle {
        display: block;
    }
}

.nav-links.active { 
    display: flex; 
}

/* nav end */

body{
    background-color: #f9f9f9 !important;
}

.content-main{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 8% auto;
    padding: 0 5%;
}

.content-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.content-left:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(2,36,69,0.4);
}

.content-left img{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    
}

.content-right{
    flex: 1;
    margin-top: 2%;
    padding-right: 5%;
}

.content-right h3{
    color: #022445;
    font-size: 2.2rem;
}

.content-right h6{
    font-size: 1.5rem;
    color: #022445;
}

.content-right p{
    color: #022445;
    margin-bottom: 8px;
}

.price{
    font-weight: 600;
    font-size: 1.2rem;
    color: #046ff2;
    margin-bottom: 0;
}

.pr-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.pr-div button{
    border-radius: 25px;
    color: #fff;
    padding: 8px 30px;
    background: linear-gradient(90deg, #046ff2, #022445);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px auto;
    text-align: center;
}

.pr-div a{
    text-decoration: none;
    color: #fff;
}

.pr-div button:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(2,36,69,0.4);
}


@media(max-width:780px){
    .content-main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-left{
        width: 90%;
    }

    .content-right{
        width: 90%;
    }
}









/* footer start */

.footer-top{
    max-height: 400px;
    height: auto;
    background-color: #022445;
    color: #edf6ff;
    display: flex;
    justify-content: space-around;
    padding: 3% 5%;
    align-items: start;
    gap: 4rem;
    margin-top: 250px;
}

.footer-center ,.footer-left , .footer-right{
    width: 30%;
}


.footer-logo{
    max-width: 150px;
    max-height: 70px;
    margin-bottom: 1.2rem;
}

.footer-logo img{
    width: 100%;
    height: auto;
    max-height: 70px;
}

.footer-center i{
font-size: 1.1rem;
}

.footer-center p{
    font-size: 1rem;
    margin-top: 20px;
}

.footer-num p a{
    text-decoration: none;
    color: #99c7f6;
}

.footer-links{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.footer-links .left{
    display: flex;
    flex-direction: column;
}

.footer-links .right{
    display: flex;
    flex-direction: column;
}

.footer-links a{
    text-decoration: none !important;
    margin-top: 0.8rem;
    color: #edf6ff;
    transition: all 0.1s ease-in-out;
}

.footer-links a:hover{
    color: #046ff2;
}

.footer-bottom{
    box-sizing: border-box;
    border-top: 2px solid #046ff2;
    background: #022445;
}

.footer-bottom p{
    text-align: center;
    color: #edf6ff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
}

@media(max-width:780px){

    .footer-top{
        justify-content:center;
        max-height: 900px; 
        flex-wrap: wrap;
        gap: 1rem;
        padding: 3% 0;
        margin-top: 20px;
    }

    .footer-left{
        width: 80%;
        order: 1;
    }

    .footer-center,.footer-right{
        width: 42%;
    }
}

@media(max-width:450px){
    .footer-top{
        padding: 5% 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-left,.footer-center,.footer-right{
        width: 80%;
    }
}